* {
    margin: 0;
    padding: 0px;
}

body {
    background-color: rgb(208, 144, 26);
    justify-content: center;
}

.header {
    display: grid;
    width: 100%;
    height: 250px;
    position: sticky;
  }

.background-header {
    height: 250px;
    background-image: url(https://thumbs.dreamstime.com/z/pokemon-carda-el-fondo-74262268.jpg);
    opacity:0.3;
}

.poke-ball {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 150px;
}

.pokemon-logo {
    position: absolute;
    flex-direction: column;
    margin-left: 50%;
    transform: translate(-52%);
    top: 35px;
  }

main {
    display: flex;
    justify-content: center;
}

.button-random {
    width: 100px;
}

.pokemons-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    padding: 50px;
    gap: 32px;
    justify-content: center;
}

.pokemon-card {
    display: flex;
    width: 200px;
    height: 275px;
    flex-direction:column;
    text-align: center;
    border-radius: 20px;
    border: solid;
    background-color: rgb(229, 213, 41);
    justify-content:flex-start;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 75px;
    box-shadow: 10px 5px 10px black;
}
.pokemon-card:hover {
    opacity: 0.8;
    font-size: 35px;
    width: 230px;
    height: 305px;
    margin-top: 60px;
}

.pokemon-name {
    padding-top: 15px;
}

.pokemon-image {
    padding: 15px;
}
.pokemon-image:hover {
    width: 275px;
    height: 275px;
    transform: translate(-35px, -25px);
}

.chosen-pokemon {
    display: flex;
    width: 270px;
    height: 405px;
    flex-direction:column;
    text-align: center;
    border-radius: 20px;
    border: solid;
    background-color:  rgb(229, 213, 41);
    justify-content:flex-start;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 35px;
    box-shadow: 10px 5px 10px black;
}
.chosen-pokemon:hover {
    font-size: 45px;
    opacity: 0.7;
    width: 300px;
    height: 450px;
}

.pokemon-choosen-image {
    width: 315px;
    height: 315px;
    transform: translate(-20px);
}

.pokemon-choosen-image:hover {
    opacity: 0.8;
    width: 335px;
    height: 335px;
    transform: translate(-18px, 30px);
}